body {
    font-family: 'Amatic SC', sans-serif;
    background: white;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

h1 {
    font-size: 70px;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
    color: grey
}

p {
    font-size: 25px;
}

#leaf-image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#score-message {
    padding: 20px;
}

/* Buttons */

.btn {
    font-family: 'Barlow', sans-serif;
    background: #D5AC4E;
    color: black;
    font-weight: 600;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover:not([disabled]) {
    background: #8b6220;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    font-family: 'Amatic SC', sans-serif;
    background: rgb(219, 218, 212);
    color: black;
    font-size: larger;
    font-weight: 800;
    width: 50%;
    border: 1px solid #222;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.correct {
    background: rgb(32, 112, 32);
}

.incorrect {
    background: #720E07;
}

#start-btn {
    font-family: 'Amatic SC', sans-serif;
    background: #D5AC4E;
    color: black;
    font-size: larger;
    font-weight: 800;
    width: 30%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

/* Images */

#main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#leaf-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Social Networks*/

.social-networks {
    text-align: center;
    margin: 0 auto;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 5px;
    padding: 2%;
    color: grey;
}

/* Media Queries*/

@media screen and (max-width: 600px) {

    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}