body {
    font-family: 'Amatic SC', sans-serif;
    background: white;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

/* Buttons */

.btn {
    font-family: 'Barlow', sans-serif;
    background: #D5AC4E;
    color: black;
    font-weight: 500;
    width: 60%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover:not([disabled]) {
    background: #8b6220;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    font-family: 'Barlow', sans-serif;
    background: rgb(219, 218, 212);
    color: black;
    font-weight: 500;
    width: 40%;
    border: 1px solid #222;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: rgb(32, 112, 32);
}

.incorrect {
    background: #720E07;
}

/* Images */

#main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#leaf-image {
    height: 60%;
    width: 40%;
}